.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $text-tertiary;
  max-height: 160px;
  height: 100%;

  &__text {
    margin-left: 10px;
    font-size: $fz-large;

    span:first-child {
      color: $color-primary;
    }
    span:nth-child(2) {
      color: $text-primary;
    }
  }
}
