.user_control {
  display: flex;
  align-items: center;
  gap: 50px;
}
.user__avatar {
  width: 60px;
  height: 60px;

  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}