.rating {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: $text-tertiary;
  border-radius: 20px;
  padding: 10px 15px;
  gap: 20px;

  &__rate {
    font-size: $fz-medium;
    color: $text-secondary;
  }
  &__value {
    margin-left: 5px;
    font-size: $fz-medium;
    color: $text-primary;
  }

  &__ico path{
    fill: $color-primary;
    stroke: $color-primary;
  }
}