.media_switcher {
  display: flex;
  gap: 20px;
  padding: 12px;
  border: 1px solid $text-tertiary;
  width: max-content;
  border-radius: 25px;

  &__item {
    padding: 10px 20px;
    background-color: $text-tertiary;
    border-radius: 15px;
    color: $text-primary;
    transition: background-color .2s;

    &.active {
      background-color: $color-primary;
    }
  }
}