@use './reset.scss';
@use './fonts.scss';

* {
    font-family: 'Inter-SemiBold', sans-serif;
    font-weight: 600;
    font-size: $fz-small;
}

body {
    background-color: $color-background;
}

h1 {
    font-size: $fz-large;
    color: $text-primary;
}

h2 {
    font-size: $fz-medium;
    color: $text-primary;
}

h3 {
    font-size: $fz-small;
    color: $text-primary;
}

body::-webkit-scrollbar {
    width: 12px;               /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
    background: orange;        /* цвет зоны отслеживания */
}

body {
    scrollbar-width: thin;

    scrollbar-color:  $text-tertiary $color-background;
}