@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
}

@theme {
  --color-*: initial;
  --color-white: #fbfbfb;
  --color-red: #ad241b;
  --color-dark: #100f10;
  --color-lightdark: #1e1e1e;
  --color-lightestdark: #272728;
  --color-grey: #67686d;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
}

@theme {
  --spacing: 1px;
}

@layer components {
  .card-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 40px;
  }

  .section-container {
    padding: 0 40px;
    margin-top: 40px;
    height: calc(100% - 100px);
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .product-card__film {
    border-radius: var(--radius-2xl);
    background-color: var(--color-lightdark);
  }

  .params {
    padding: 10px 20px;
    background-color: var(--color-lightdark);
    border-radius: var(--radius-2xl);
  }
  .actors {
    cursor: pointer;
    opacity: 0.7;
    object-fit: cover;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: var(--color-lightdark);
  }

  .bookmark-active * rect {
    fill: var(--color-red);
    transition: color 0.2s ease-in;
  }

  .star-active * {
    fill: var(--color-red);
    stroke: var(--color-red);
    transition: color 0.2s ease-in;
  }
  .star-disable * {
    stroke: var(--color-white);
  }
}
