@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
}

@theme {
  --color-*: initial;
  --color-white: #fbfbfb;
  --color-red: #ad241b;
  --color-dark: #100f10;
  --color-lightdark: #1e1e1e;
  --color-lightestdark: #272728;
  --color-grey: #67686d;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
}

@theme {
  --spacing: 1px;
}

@layer components {
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 40px;
  }

  .section-container {
    height: calc(100% - 100px);
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .product-card {
    padding: 20px;
    height: 450px;
    border-radius: var(--radius-2xl);
    background-color: var(--color-lightdark);

    &:first-child {
      grid-column: 1 / -1;
    }
  }
  .product-card__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--radius-2xl);
  }
}
