$text-primary: #fbfbfb;
$text-secondary: #67686d;
$text-tertiary: #272728;

$color-primary: #ad241b;
$color-secondary: #161616;
$color-background: #100f10;

$fz-small: 18px;
$fz-medium: 24px;
$fz-large: 36px;