.search {
  position: relative;
  display: flex;
  align-items: center;

  &__input {
    border: 1px solid $text-tertiary;
    border-radius: 25px;
    width: 400px;
    padding-left: 67px;
    height: 60px;
    font-size: $fz-small;
    color: $text-secondary;
  }

  &__icon {
    position: absolute;
    left: 33px;
  }
}