.input {
  display: flex;
  align-items: center;
  position: relative;
  width: max-content;
  justify-content: center;
  margin: 0 auto;

  &__field {
    border: 1px solid $text-tertiary;
    border-radius: 25px;
    width: 400px;
    padding-left: 67px;
    height: 60px;
    font-size: $fz-small;
    color: $text-secondary;


    &::placeholder {
      color: $text-secondary;
    }
  }

  &__img {
    position: absolute;
    left: 33px;
  }
}