.skeleton_card {
    border-radius: 20px;
    padding: 15px;
    background-color: $color-secondary;
    cursor: pointer;
    max-width: 260px;
  
    &__image {
      position: relative;
    }
  
    &__img {
      width: 100%;
      height: 350px;
      background-color: $text-tertiary;
      border-radius: 15px;
    }
  
    &__title {
        background-color: $text-tertiary;
        border-radius: 5px;
        color: $text-tertiary;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
  
    &__stats {
      display: flex;
      gap: 10px;
      justify-content: space-between;
      align-items: center;
      margin-top: 15px;
  
  
      span {
        font-size: 16px;
        color: $text-primary;
        letter-spacing: 0.5px;
        margin-left: 5px;
      }
  
    }
  
    &__public {
      display: flex;
      gap: 20px;
    }
  }
  