.ratings {
    margin-top: 50px;
    overflow-y: scroll;
    max-height: calc(100vh - 160px - 100px);
  
    &__entry {
      display: flex;
      align-items: center;
    }
  
    &__title {
      margin-left: 10px;
    }

    .ico__ratings {

        width: 35px;
        height: 35px;
    
        path {
          fill: $color-primary;
          stroke: $color-primary;
        }
      }

    &__items {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        overflow-x: hidden;
        padding-right: 20px;
    }
    
}

.ratings_error {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: calc(100vh - 160px - 100px);

  &__title {
    text-align: center;
    margin: 0;
  }
}