.soon {
    margin-top: 50px;
    overflow-y: scroll;
    max-height: calc(100vh - 160px - 100px);
  
    &__content{
      gap: 20px;
    }
    &__entry {
      display: flex;
    }
  
    &__title {
      margin-left: 20px;
  
      span {
        cursor: pointer;
        color: $color-primary;
      }
  
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin-top: 50px;
      }

    &__ico {
        width: 35px;
        height: 35px;

        path {
            stroke: $color-primary;
        }
    }
}